{% include origin-type.html %}

<div id="waline"></div>

<script type="module">
  import { init } from {{ site.data.origin[type].waline.js | jsonify }};

  init({
    el: '#waline',
    serverURL: {{ site.comments.waline.server_url | jsonify }},
    reaction: [
      'https://unpkg.com/@waline/emojis@1.1.0/qq/qq_heart.gif',
      'https://unpkg.com/@waline/emojis@1.1.0/qq/qq_thumbsup.gif',
      'https://unpkg.com/@waline/emojis@1.1.0/qq/qq_clap.gif',
      'https://unpkg.com/@waline/emojis@1.1.0/qq/qq_grin.gif',
      'https://unpkg.com/@waline/emojis@1.1.0/qq/qq_doubt.gif',
      'https://unpkg.com/@waline/emojis@1.1.0/qq/qq_sleep.gif',
    ],
    search: false,
    pageview: true,
    lang: 'en'
  });
</script>