<!doctype html>

{% include origin-type.html %}

{% include lang.html %}

{% if site.theme_mode %}{% capture prefer_mode %}data-mode="{{ site.theme_mode }}"{% endcapture %}
{% endif %}

{% assign has_panel_includes = false %}
{% assign has_tail_includes = false %}
  {% for key in page %}
    {% if key == 'panel_includes' %}
  {% assign has_panel_includes = true %}
  {% endif %}
    {% if key == 'tail_includes' %}
  {% assign has_tail_includes = true %}
{% endif %}
{% endfor %}

<!-- panel_includes -->
{% if has_panel_includes %}
  {% if page.panel_includes == '' or page.panel_includes == false or page.panel_includes == 'nil' or page.panel_includes == null
  %}
    {% assign panel_includes = '' %}
  {% else %}
    {% assign panel_includes = page.panel_includes %}
  {% endif %}
{% else %}
  {% assign panel_includes = layout.panel_includes %}
{% endif %}
{% assign panel_included_size = panel_includes | size %}
<!-- tail_includes -->
{% if has_tail_includes %}
  {% if page.tail_includes == '' or page.tail_includes == false or page.tail_includes == 'nil' or page.tail_includes == null
  %}
    {% assign tail_includes = '' %}
  {% else %}
    {% assign tail_includes = page.tail_includes %}
  {% endif %}
{% else %}
  {% assign tail_includes = layout.tail_includes %}
{% endif %}
{% assign tail_included_size = tail_includes | size %}

<!-- `site.alt_lang` can specify a language different from the UI -->
<html lang="{{ page.lang | default: site.alt_lang | default: site.lang }}" {{ prefer_mode }}>
  {% include layouts/head.html %}

    <body>
    {% include layouts/sidebar.html lang=lang %}

    {% include layouts/topbar.html lang=lang %}

    <div id="main-wrapper" class="d-flex justify-content-center">
      <div class="container-fluid d-flex flex-column px-xxl-3">
        <div class="row flex-grow-1">
          <main
            aria-label="Main Content"
            id="content-wrapper"
            class="{% if panel_included_size > 0 %}col-10{% else %}col-12 px-xl-1{% endif %}">
            {% capture _content %}
              {% if layout.refactor or layout.layout == 'default' %}
                {% include refactor-content.html content=content lang=lang %}
              {% else %}
                {{ content }}
              {% endif %}
            {% endcapture %}
            {{ _content }}
          </main>

          <!-- panel -->
          {% if panel_included_size > 0 %}
            <aside
              aria-label="Panel"
              id="panel-wrapper"
              class="col-2 ps-2 mb-5 text-muted">
              {% for _include in panel_includes %}
                {% if _include == 'update-list' or _include == 'trending-tags' %}
                  <div class="access">
                    {% assign _include_path = 'layouts/' | append: _include | append: '.html' %}
                    {% include_cached {{ _include_path }} lang=lang %}
                  </div>
                {% else %}
                  {% assign _include_path = 'layouts/' | append: _include | append: '.html' %}
                  {% include {{ _include_path }} lang=lang %}
                {% endif %}
              {% endfor %}
            </aside>
          {% endif %}
        </div>

        <!-- tail -->
        {% if tail_included_size > 0 %}
          <div class="row">
            <div id="tail-wrapper" class="{% if panel_included_size > 0 %}col-12 col-xl-10 px-md-3{% else %}col-12 px-xl-1{% endif %}">
              {% for _include in tail_includes %}
                {% assign _include_path = 'layouts/' | append: _include | append: '.html' %}
                {% include {{ _include_path }} lang=lang %}
              {% endfor %}
            </div>
          </div>
        {% else %}
          <div style="height: 2rem;"></div>
        {% endif %}

        {% include_cached search/search-results.html lang=lang %}
      </div>

      <aside aria-label="Scroll to Top">
        <button
          id="back-to-top"
          type="button"
          class="btn btn-lg btn-box-shadow">
          <i class="fas fa-angle-up"></i>
        </button>
      </aside>
    </div>

    <div id="mask"></div>

    {% if site.pwa.enabled %}
      {% include_cached layouts/notification.html lang=lang %}
  {% endif %}

    <!-- JavaScripts -->

    {% include scripts/js-selector.html lang=lang %}

    {% if page.mermaid %}
      {% include scripts/mermaid.html %}
    {% endif %}

    {% include scripts/jupyter-theme.html %}
  </body>
</html>