<!-- The Top Bar -->

<header id="topbar-wrapper" aria-label="Top Bar">
  <div
    id="topbar"
    class="d-flex align-items-center justify-content-between px-lg-3 h-100"
  >
    <div class="d-flex align-items-center">
      <button
        type="button"
        id="sidebar-trigger"
        class="btn btn-link"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        aria-label="Hide/show sidebar"
        data-bs-original-title="Hide/show sidebar"
      >
        <i class="fas fa-map-signs fa-fw"></i>
      </button>

      <nav id="breadcrumb" aria-label="Breadcrumb">
        {% assign paths = page.url | split: '/' %}

        {% if paths.size == 0 or page.url == '/' | relative_url %}
          <!-- index page -->
          <span>{{ site.data.locales[include.lang].tabs.home | capitalize }}</span>

        {% else %}
          {% assign breadcrumb_url = '' %}
          {% for item in paths %}
            {% assign breadcrumb_url = breadcrumb_url | append: item | append: '/' %}
            {% if forloop.first %}
              <span>
                <a href="{{ '/' | relative_url }}">
                  {{- site.data.locales[include.lang].tabs.home | Capitalize -}}
                </a>
              </span>
            {% elsif forloop.last %}
              <span>
                {{- site.data.locales[include.lang].tabs[item] | default: page.title | Capitalize -}}
              </span>
            {% else %}
              <span>
                <a href="{{ breadcrumb_url | relative_url }}">
                  {{- site.data.locales[include.lang].tabs[item] | default: item | Capitalize -}}
                </a>
              </span>
            {% endif %}
          {% endfor %}
        {% endif %}
      </nav>
      <!-- endof #breadcrumb -->

      <div id="topbar-title">
        {% if page.url == '/' | relative_url %}
          {{- site.data.locales[include.lang].tabs.home | default: site.title -}}
        {% elsif page.url == '/blog/' | relative_url %}
          {{- site.data.locales[include.lang].tabs.blog | default: site.title -}}
        {% else %}
          {%- capture tab_key -%}{{ page.url | split: '/' }}{%- endcapture -%}
          {{- site.data.locales[include.lang].tabs[tab_key] | default: page.title | Capitalize -}}
        {% endif %}
      </div>
    </div>

    <div class="d-flex align-items-center">
      {% include search/search-inputs.html lang=include.lang %}
      {% unless site.theme_mode %}
        <span class="icon-border"></span>
        <button
          type="button"
          class="mode-toggle btn light"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          aria-label="Light/dark theme"
          data-bs-original-title="Light/dark theme"
        >
          <i class="fas fa-star-and-crescent"></i>
        </button>

        <button
          type="button"
          class="mode-toggle btn dark"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          aria-label="Light/dark theme"
          data-bs-original-title="Light/dark theme"
        >
          <i class="fas fa-sun"></i>
        </button>
      {% endunless %}
      <span class="icon-border"></span>
      <button
        type="button"
        id="toc-trigger"
        class="btn btn-link"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        aria-label="Hide/show TOC"
        data-bs-original-title="Hide/show panel"
      >
        <i class="fas fa-list-ul fa-fw"></i>
      </button>
    </div>
  </div>
</header>
