<div class="row">
  <div class="col-sm-3">
    <div class="preview d-flex align-items-center">
      {% assign avatar_path = '/assets/img/avatar/Jinchao.png' | relative_url %}
      {%
        include modules/figure.html
        path=avatar_path
        class="preview rounded"
        width="200"
        zoomable=true
        alt="Jinchao Li"
      %}
    </div>
  </div>

  <div class="col-sm-9">
    {% assign email = site.social.email | split: '@' %}
    <p>
      <strong style="font-size: 1.5rem;">Jinchao Li (李锦超)</strong><br>
      Ph.D. Candidate <a href="{{ '/assets/CV_jinchaoli.pdf' | relative_url }}" target="_blank">[Resume]</a><br>
      The Chinese University of Hong Kong<br>
      Hong Kong, China<br>
      Email: {{ email[0] }} [at] {{ email[1] }}<br>
      <div class="social">
        {% include modules/social-icons.html %}
      </div>
    </p>
  </div>
</div>
